:root{
    --vermelho : #4704fefe;
    --branco : #dbd9d9;
    --preto : #171212;
    --cinza : #2f323a;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header{
    background-color:var(--preto);
    width: 100%;
    height: 30px;
    padding: 20px;
    position: fixed;
}
.area-esquerda h3{
    color: var(--branco);
    margin: 0;
    font-size: 22;
    font-weight: 900;
    text-transform: uppercase;
}
.btn-sair{
    color: var(--branco);
    text-decoration: none;
    float:right;
    margin-right: 40px;
    margin-top: -20px;
    background-color: var(--azul);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 5px;
    transition-delay: 0.5s;
    transition: 0.3s;
}
.btn-sair:hover{
    background-color: var(--cinza);
    padding: 10px 10px;
    border-radius: 10px;
}
.perfil{
    text-align: center;
}
.imagem-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
nav{
    background-color: var(--cinza);
    width: 250px;
    height: 100%;
    left: 0;
    position: fixed;
    margin-top: 70px;
    padding-top: 30PX;
    transition: 0.8s

}
nav h4{
    color: var(--branco);
    margin-top: 0;
    margin-bottom: 20px;
}
nav a{
    color: var(--branco);
    text-decoration: none;
    display: block;
    padding-left: 40px;
    line-height: 80px;
    box-sizing: border-box;
}
nav i{
    margin-right: 10px;
}
nav a:hover{
    background-color: var(--azul);
    transition: 1.0;
}
#btnMenu{
    cursor: pointer;
    color: var(--branco);
    font-size: 20px;
    position: fixed;
    left: 250px;
    top: 23px;
}
#chkMenu{
    display: none;
}
#chkMenu:checked~nav{
    left: -190px;
}
#chkMenu:checked~nav a{
    font-size: 20px;
    margin-left: 170px;    
}
#chkMenu:checked~nav span{
    display: none;
    transition-delay: 0.8s;
}
.conteudo{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--branco);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.usuario-endereco{
    font-family: 'Times New Roman', Times, serif;
    color: var(--preto);
    margin-top: 0;
    margin-bottom: 400px;
    left: 280px;
    position: fixed;
    background-position: center;
}
.usuario-idade{
    color: var(--preto);
    margin-top: 0;
    margin-bottom: 400px;
    left: 600px;
    position: fixed;
    background-position: center;
}
.usuario-nacionalidade{
    color: var(--preto);
    margin-top: 0;
    margin-bottom: 400px;
    left: 600px;
    position: fixed;
    background-position: center;
}
.usuario-escolaridade{
    color: var(--preto);
    margin-top: 0;
    margin-bottom: 400px;
    left: 600px;
    position: fixed;
    background-position: center;
}
.usuario-idiomas{
    color: var(--preto);
    margin-top: 0;
    margin-bottom: 400px;
    left: 600px;
    position: fixed;
    background-position: center;
}
.usuario-experiencias{
    color: var(--preto);
    margin-top: 0;
    margin-bottom: 400px;
    left: 600px;
    position: fixed;
    background-position: center;
}
